<IfModule authz_core_module>
    <FilesMatch "\.(?!(css|js|eot|otf|ttc|ttf|woff))$">
        Require all denied
    </FilesMatch>
</IfModule>
<IfModule !authz_core_module>
    <FilesMatch "\.(?!(css|js|eot|otf|ttc|ttf|woff))$">
        Deny from all
    </FilesMatch>
</IfModule>